body {
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

header {
  padding: 20px;
  background-color: orange;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
}

input {
  border-radius: 15px;
  padding: 20px;
  border: 1px solid grey;
}

.dropdown-container {
  position: absolute; 
  border: 1px solid black; 
  top: 60px; 
  margin: auto; 
  left: 0; 
  right: 0; 
  text-align: center; 
  width: 70%
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.collapse-dropdown {
  background-color: white;
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:nth-child(odd) {
  background-color: orange;
}

.dropdown-item:nth-child(even) {
  background-color: #ffc273;
}

.common-movies-list {
  height: 300px;
  overflow: auto;
}

.actor-card {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.actor-img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.actor-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}